@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travel Planner</h1>
    <img style="width: 100%; height:500px; border-radius:10px;" src="~/img/Best-Travel-Planning-iPhone-and-iPad-Apps.jpg"/>
</div>
